openapi: 3.0.3
info:
  title: Nitro PDF Services Public Authentication Platform API
  description: 'REST API for Nitro PDF Services: convert, transform, extract, and generate PDF documents, plus async job status/result retrieval. Machine-to-machine OAuth 2.0 client-credentials; short-lived bearer tokens. Assembled by API Evangelist from Nitro''s published per-tool OpenAPI reference fragments; schemas preserved verbatim.'
  version: '1.0'
servers:
- url: https://api.gonitro.dev
  description: API server
security:
- BearerAuth: []
tags:
- name: Platform
paths:
  /transformations:
    post:
      tags:
      - Platform
      summary: Request a transformation operation
      operationId: forwardTransformationsRequest
      responses:
        '200':
          description: OK
  /generations:
    post:
      tags:
      - Platform
      summary: Request a generation operation
      operationId: forwardGenerationsRequest
      responses:
        '200':
          description: OK
  /extractions:
    post:
      tags:
      - Platform
      summary: Request an extraction operation
      operationId: forwardExtractionsRequest
      responses:
        '200':
          description: OK
  /conversions:
    post:
      tags:
      - Platform
      summary: Request a conversion operation
      operationId: forwardConversionsRequest
      responses:
        '200':
          description: OK
  /jobs/{jobID}:
    get:
      tags:
      - Platform
      summary: Get the result of a job by its job id
      operationId: getJobResult
      responses:
        '200':
          description: OK
  /jobs/{jobID}/status:
    get:
      tags:
      - Platform
      summary: Get the status of a job by its job id
      operationId: getJobStatus_1
      responses:
        '200':
          description: OK
components:
  securitySchemes:
    BearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
